[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
setuptools = "*"
stocks = {editable = true, path = "./src"}

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.9"
